
<hr />

<ul>
    <li>
        <a href="@Url.Content("~/sample/index")">/sample, code that fails with nested layout and sections</a>
    </li>
    <li>
        <a href="@Url.Content("~/sampleworkaround/index")">/sampleworkaround, nice workaround</a>
    </li>
</ul>

<p>
    Workaround code supplied by 'Imran Baloch', see <a href="http://forums.asp.net/p/1623650/4170485.aspx#4170485">Asp.net forum post</a>
</p>